*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.btn{
    height: 100px;
    width: 100px;
}
#grey{
    background-color: grey;
}
#white{
    background-color: white;
}
#blue{
    background-color: blue;
}
#yellow{
    background-color: yellow;
}
.container{
    margin-left: 550px;
    margin-top: 250px;
}