*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: black;
}

.main{
    height: 100px;
    width: 30%;
    background-color: white;
    margin-left: 525px;
    margin-top: 325px;
    border-radius: 10px;
}

.btn{
    background-color: black;
    padding: 8px 195px;
    color: white;
    margin:  0 5px;
    border-radius: 10px;
    margin-top: 30px;
}
#randomcode{
    margin-left: 170px;
}

