*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: black;
}
h1{
    color: white;
}
.container{
    margin-left: 550px;
    margin-top: 350px;
}